html, body
{
    height: 100%;
}

body, .wrapper {
    width: 100%;
}

.heading{
	padding:10px;
	text-align: center;
	font-size: 30px;
}

.group{
	border-right: 1px solid;
	text-align: center;
    width: 50%;
    background-color: #ffffff;
    float: left;
}

li{
    list-style-type: none;
}

.matches {
    list-style: none;
}

ul.matches li {
	display: inline-block;
    padding: 25px;
}

button{
	background-color: #e6ece6;
    border: none;
    padding: 20px 30px;
    border-radius: 50%;
}

.image{
    text-align: center;
}

.small-group{
    text-align: center;
    width: 25%;
    background-color: #ffffff;
    float: left;
    border-right: 1px solid;
}


.block {
    position: relative;
}

.left-part {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-left: -116px;
}

.right-part {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-left: 40px;
}

