.wrapper{
    width: 750px;
    margin: 15px;
}

label.col-sm-5.control-label {
    text-align: -webkit-left;
}

.profile{
	text-align: center;
}


img.img-circle {
    border-radius: 50%;
    border:2px solid;
}

.profile-image {
	margin-left: -284px;
}